@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
}

pre {
	margin: 0;
	font-size: 1rem;
}

/* grid style 시작 */
div.grid {
  display: grid;
}

div.grid > div.btn-group {
  grid-column: 1 / -1;
}

div.grid > div.btn-group > div.right-align {
  text-align: right;
}

div.grid > label {
  padding-left: 0.625rem;
}

div.grid input,
div.grid button,
div.grid textarea {
  padding: 0.625rem;
}
/* grid style 끝 */

/* 글쓰기 style 시작 */
div.write {
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 1.75rem 1.75rem 20rem 1fr;
  row-gap: 0.625rem;
}

/* 글쓰기 style 끝 */
