<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.movie.dao.MobieDao">

<insert id="insertNewMovie" parameterType="">
INSERT INTO TMDB.MOVIE
(MOVIE_ID, POSTER_URL, TITLE, MOVIE_RATING, OPEN_DATE, OPEN_COUNTRY, RUNNING_TIME, INTRODUCE, SYNOPSIS, ORIGINAL_TITLE, STATE, "LANGUAGE", BUDGET, PROFIT)
VALUES('', '', '', '', '', '', 0, '', '', '', '', '', 0, 0)
</insert>

</mapper>